.DS_Store
.idea/
Executable/3DPopSyn
CMakeLists.txt
Executable/DiskModule.o
Executable/EvolutionModule.o
Executable/NBodyModule.o
Executable/SatelliteModule.o
cmake-build-debug/
disks/
Executable/main.o
ppd/
Executable/
/disks/
/Disk_Plots/
/disks/
/system_0000/
__pycache__/plotting.cpython-38.pyc
/Runs/
/restart/
