.DS_Store
.idea/
*__pycache__*
*.pyo
*.pyc
cmake-build-debug/
/ppd/
/Disk_Plots/
/Runs/
/restart/
/3DPopSyn
/disks/
/SynthesisRuns/
/Pre_Process/*.png
/Synthesis/post/test/
/Rejection_Sampling.py
/RUNTIME/
/MigrationRuns/
/Runtime_test/
/Pre_Process/
/Post_Process/
/Other_Files/
/MigrationRuns/
/disks/
/Synthesis/__pycache__
/Synthesis/post/__pycache__
/Synthesis/pre/__pycache__
/cmd.py
/compile.sh
/DISK_PREPROCESSING.py
/make.sh
/POST_PROCESS.py
/pull_run.sh
/push.sh
/restart.sh
/run.sh
/run_euler.sh
/setup.sh
/testing_post.py
/Statistical_Convergence.py
/clean_up.py
/combine_runs.py
/get_list_done.sh
