.DS_Store
.idea/
cmake-build-debug/
/ppd/
/Disk_Plots/
/Runs/
/restart/
/3DPopSyn
/disks/
/SynthesisRuns/
/Pre_Process/*.png
/Synthesis/post/test/
/Rejection_Sampling.py
/RUNTIME/
/MigrationRuns/
/system_0000/
/Runtime_test/
/Pre_Process/
/Post_Process/
/Other Files/
/MigrationRuns/
/disks/
/cmd.py
/compile.sh
/DISK_PREPROCESSING.py
/make.sh
/POST_PROCESS.py
/pull_run.sh
/push.sh
/restart.sh
/run.sh
/run_euler.sh
/setup.sh
/testing_post.py
